In [1]:
import basic_statistics as bs

In [3]:
information=bs.all_process("Chocolate Sales.csv")

=== 결측치 현황 ===
Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
dtype: int64


=== 데이터 정보 ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(1), object(5)
memory usage: 51.4+ KB


=== 기초 통계량 (describe) ===
       Boxes Shipped
count    1094.000000
mean      161.797989
std       121.544145
min         1.000000
25%        70.000000
50%       135.000000
75%       228.750000
max       709.000000


=== 날짜형 변수 변환 ===
❌ 'Sales Person' 컬럼은 날짜 데이터가 아닙니다.
❌ 'Country' 컬럼은 날짜 데이터가 아닙니다.
❌ 'Product' 컬럼은 날짜 데이터가 아닙니다.
✅ 'Date' 컬럼은 날짜 데이터로 변환되었습니다.
❌ 'Amount' 컬럼은 날짜 데이터가 아닙니다.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   datetime64[ns]
 4   Amount         1094 non-null   object
 5   Boxes Shipped  1094 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 51.4+ KB
None


=== 범주형 변수 변환 및 고유값 확인 ===
'Sales Person 컬럼은 범주형 데이터입니다.
0         Jehu Rudeforth
1            Van Tuxwell
2           Gigi Bohling
3           Jan Morforth
4         Jehu Rudeforth
              ...
1089    Karlen McCaffrey
1090      Jehu Rudeforth
1091        Ches Bonnell
1092      Dotty Strutley
1093    Karlen McCaffrey
Name: Sales Person, Length: 1094, dtype: object unique values : ['Jehu Rudeforth' 'Van Tuxwell' 'Gigi Bohling' 'Jan Morforth' 'Oby Sorrel'
 'Gunar Cockshoot' 'Brien Boise' 'Rafaelita Blaksland' 'Barr Faughny'
 'Mallorie Waber' 'Karlen McCaffrey' "Marney O'Breen" 'Beverie Moffet'
 'Roddy Speechley' 'Curtice Advani' 'Husein Augar' 'Kaine Padly'
 'Dennison Crosswaite' "Wilone O'Kielt" 'Andria Kimpton' 'Kelci Walkden'
 'Camilla Castle' 'Madelene Upcott' 'Dotty Strutley' 'Ches Bonnell']
0         Jehu Rudeforth
1            Van Tuxwell
2           Gigi Bohling
3           Jan Morforth
4         Jehu Rudeforth
              ...
1089    Karlen McCaffrey
1090      Jehu Rudeforth
1091        Ches Bonnell
1092      Dotty Strutley
1093    Karlen McCaffrey
Name: Sales Person, Length: 1094, dtype: object unique counts : 25
✅ 'Sales Person 컬럼은 범주형 데이터로 변환되었습니다.


'Country 컬럼은 범주형 데이터입니다.
0              UK
1           India
2           India
3       Australia
4              UK
          ...
1089    Australia
1090          USA
1091       Canada
1092        India
1093        India
Name: Country, Length: 1094, dtype: object unique values : ['UK' 'India' 'Australia' 'New Zealand' 'USA' 'Canada']
0              UK
1           India
2           India
3       Australia
4              UK
          ...
1089    Australia
1090          USA
1091       Canada
1092        India
1093        India
Name: Country, Length: 1094, dtype: object unique counts : 6
✅ 'Country 컬럼은 범주형 데이터로 변환되었습니다.


'Product 컬럼은 범주형 데이터입니다.
0           Mint Chip Choco
1             85% Dark Bars
2       Peanut Butter Cubes
3       Peanut Butter Cubes
4       Peanut Butter Cubes
               ...
1089    Spicy Special Slims
1090             White Choc
1091    Organic Choco Syrup
1092                Eclairs
1093         70% Dark Bites
Name: Product, Length: 1094, dtype: object unique values : ['Mint Chip Choco' '85% Dark Bars' 'Peanut Butter Cubes'
 'Smooth Sliky Salty' '99% Dark & Pure' 'After Nines' '50% Dark Bites'
 'Orange Choco' 'Eclairs' 'Drinking Coco' 'Organic Choco Syrup'
 'Milk Bars' 'Spicy Special Slims' 'Fruit & Nut Bars' 'White Choc'
 'Manuka Honey Choco' 'Almond Choco' 'Raspberry Choco'
 'Choco Coated Almonds' "Baker's Choco Chips" 'Caramel Stuffed Bars'
 '70% Dark Bites']
0           Mint Chip Choco
1             85% Dark Bars
2       Peanut Butter Cubes
3       Peanut Butter Cubes
4       Peanut Butter Cubes
               ...
1089    Spicy Special Slims
1090             White Choc
1091    Organic Choco Syrup
1092                Eclairs
1093         70% Dark Bites
Name: Product, Length: 1094, dtype: object unique counts : 22
✅ 'Product 컬럼은 범주형 데이터로 변환되었습니다.