데이터 및 패키지 불러오기

In [23]:
import pandas as pd
import numpy as np
import pycaret
data=pd.read_csv("C:/Users/rharoal12/Desktop/Study/blog-python/Chocolate Sales.csv")

날짜 데이터 분할하고 진행!

In [24]:
data['Amount']=pd.to_numeric(data['Amount'].str.replace('$','').str.replace(',',''))
data['Date']=pd.to_datetime(data['Date'])
data['dayofweek']=data['Date'].dt.dayofweek
data['month']=data['Date'].dt.month
data['day']=data['Date'].dt.day
ohe_data=pd.get_dummies(data)

In [31]:
from pycaret.regression import *

setup(data=data, target='Amount', session_id=96)
best_model = compare_models(sort='RMSE')
preds = predict_model(best_model)
print(preds.head())

            Sales Person      Country              Product       Date  \
406         Ches Bonnell       Canada  Spicy Special Slims 2022-08-05
776  Dennison Crosswaite        India         Orange Choco 2022-03-18
140         Gigi Bohling  New Zealand     Fruit & Nut Bars 2022-04-04
765      Gunar Cockshoot        India  Baker's Choco Chips 2022-03-18
100  Dennison Crosswaite    Australia      Raspberry Choco 2022-03-14

     Boxes Shipped  dayofweek  month  day  Amount  prediction_label
406            183          4      8    5    5327       5701.394771
776            129          4      3   18     784       5701.394771
140            121          0      4    4   10976       5701.394771
765            524          4      3   18    2191       5701.394771
100             31          0      3   14    5740       5701.394771

날짜 데이터 분할 안하고 진행

In [34]:
import pandas as pd
import numpy as np  
data=pd.read_csv("C:/Users/rharoal12/Desktop/Study/blog-python/Chocolate Sales.csv")
data['Amount']=pd.to_numeric(data['Amount'].str.replace('$','').str.replace(',',''))
data['Date']=pd.to_datetime(data['Date'])

In [36]:
from pycaret.regression import *

setup(data=data, target='Amount', session_id=96)
best_model = compare_models(sort='RMSE')
preds = predict_model(best_model)
print(preds.head())

            Sales Person      Country              Product       Date  \
406         Ches Bonnell       Canada  Spicy Special Slims 2022-08-05
776  Dennison Crosswaite        India         Orange Choco 2022-03-18
140         Gigi Bohling  New Zealand     Fruit & Nut Bars 2022-04-04
765      Gunar Cockshoot        India  Baker's Choco Chips 2022-03-18
100  Dennison Crosswaite    Australia      Raspberry Choco 2022-03-14

     Boxes Shipped  Amount  prediction_label
406            183    5327       5701.394771
776            129     784       5701.394771
140            121   10976       5701.394771
765            524    2191       5701.394771
100             31    5740       5701.394771